<h1>Welcome to Battle!</h1>

<form action='/players_info' method='post'>
  Player1 name:<br>
  <input type='text' name='player1_name'>
  <br>
  Player2 name:<br>
  <input type='text' name='player2_name'>
  <br>
  <input type='submit' value='Submit'>
  
</form>